
@{
    ViewBag.Title = "StudentStudentList";
}

<div id="containerlist">
    <h2>StudentList of Students</h2>
    <form action="/Student/StudentList" method="GET">
        <input type="text" name="SearchKey" autocomplete="off" />
        <input type="submit" value="Search" />
    </form>
    @foreach (var student in Model)
    {
        <div class="listitem row">
            <div class="col-md-12"><a href="/Student/StudentShow/@student.StudentId">@student.StudentFname @student.StudentLname</a></div>
        </div>
    }
</div>

