
@{
    ViewBag.Title = "StudentShow";
}

<a class="navlink" href="/Student/StudentList">Back To Students List</a>
<div id="containershow">
    <h2>@Model.StudentFname @Model.StudentLname</h2>
    <p> <strong>Student Number:</strong> @Model.StudentNumber</p>
    <p><strong>Enrollment Date:</strong> @Model.EnrolDate</p>
    
</div>

